html, body {
    background-color: white;
}

#search {
    height: 100%;
    overflow: hidden;
}

.coveo-search-section {
    margin: 10px auto;
}

.coveo-facet-column {
    display: none;
}

.coveo-main-section {
    height: 100%;
    overflow: auto;
}

.CoveoSearchInterface .coveo-search-section .CoveoSearchbox .CoveoSearchButton {
    float: left;
    border: none;
}

.CoveoSearchInterface .coveo-search-section .CoveoSearchbox .magic-box .magic-box-input,
.CoveoSearchInterface .coveo-search-section .CoveoSearchbox .magic-box .magic-box-clear,
.CoveoSearchInterface .coveo-search-section .CoveoSearchbox {
    background-color: #F6F6F6;
}

.CoveoSearchInterface .coveo-search-section .CoveoSearchbox .magic-box {
    border: none;
}

.CoveoSearchInterface .coveo-search-section .CoveoSearchbox {
    border: none;
}

.CoveoSearchInterface.coveo-small-facets .coveo-dropdown-header-wrapper {
    justify-content: center;
    position: relative;
    top: 5px;
}

.CoveoSearchInterface.coveo-small-tabs .coveo-dropdown-header, .CoveoSearchInterface.coveo-small-facets .coveo-dropdown-header, .CoveoSearchInterface.coveo-small-recommendation .coveo-dropdown-header {
    border-color: #F68004;
    height: 26px;
    z-index: 9999;
}

.CoveoSearchInterface.coveo-small-tabs .coveo-dropdown-header p, .CoveoSearchInterface.coveo-small-facets .coveo-dropdown-header, .CoveoSearchInterface.coveo-small-recommendation .coveo-dropdown-header p {
    color: #F68004;
    font-size: 16px;
    line-height: 24px;
}

.CoveoSearchInterface.coveo-small-facets .coveo-facet-column.coveo-facet-dropdown-content {
    width: 90% !important;
    left: 5% !important;
    min-height: 400px !important;
}

#search > div.coveo-facet-column.coveo-facet-dropdown-content.coveo-dropdown-content {
    display: flex;
    flex-wrap: wrap;

    max-height: none;
    overflow: hidden;

    box-shadow: none;
}

#search > div.coveo-facet-column.coveo-facet-dropdown-content.coveo-dropdown-content .CoveoFacet {
    margin: 5px;
    margin-bottom: 10px;
    justify-content: center;
    border-radius: 10px;
    min-height: 187px;
}

.coveo-dropdown-background {
    background-color: rgba(28, 89, 118, 0.4);
}

.CoveoSearchInterface .coveo-main-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .coveo-result-frame .coveo-result-row .coveo-result-cell .CoveoIcon {
    transform: scale(0.5);
    vertical-align: top;
    top: -8px;
    left: -8px;
}

.CoveoSearchInterface .coveo-main-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .coveo-result-frame .coveo-result-row .coveo-result-cell .CoveoIcon .coveo-icon-caption-overlay {
    display: none;
}