body {
    width: 765px;
    height: 580px;

    background-color: white;
}

.coveo-logout {
    display: none; 
}

.ResultList .ResultListWrap {
    position: fixed;
    top: 00px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}