<!DOCTYPE html>
<html>
    <head>
        <title>Coveo Chrome Extension</title>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0,  maximum-scale=1.0, user-scalable=0">
        <script src="../js/vendor/jquery-3.2.1.min.js"></script>
        <script src="../js/myApp.bundle.js"></script>
        <script src="../js/vendor/coveo/jsui/js/CoveoJsSearch.min.js"></script>
        <script src="../js/vendor/coveo/jsui/js/templatesNew.js"></script>
        <link rel="stylesheet" type="text/css" href="../js/vendor/coveo/jsui/js/CoveoFullSearchNewDesign.css">
        <link rel="stylesheet" type="text/css" href="../css/fullsearch.css">
    </head>
    <body id="application">
        
    </body>
</html>