<!DOCTYPE html>
<html>

<head>
	<title>Coveo 4 Google Cloud Search - Settings</title>

	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<link rel="stylesheet" type="text/css" href="../css/CoveoStyleGuide.css">

<style type="text/css">
	html, body {
		height: auto !important;
	}
	body {
		padding: 20px;
	}

	div, span, input, button {
		line-height: 34px;
		vertical-align: middle;
	}

	.chosen-container {
		width: 100% !important;
	}

	h3 {
		margin-top: 40px;
		text-align: left;
		font-size: 13px;
    text-transform: uppercase;
	}
	h3:first-child {
		margin-top: 0;
	}
</style>
</head>

<body id="application">

	<script src="../js/vendor/underscore-min.js"></script>
	<script src="../js/vendor/jquery-3.2.1.min.js"></script>
	<script src="../js/vendor/chosen.jquery.min.js"></script>
	<script src="../js/myApp.bundle.js"></script>
</body>
</html>